<html>
    <script type="module" src="/assets/js/chat.js"></script>
    <script type="module" src="/assets/js/fileupload.js"></script>
    <body>
        <img src="/assets/images/default-profile.png" alt="프로필이미지">

        <form action='/chat/uploadfile' method="POST" entype="multipart/form-data">
            <input type="file" name="file" id="input">
        </form>
        <input id="chat_input" type="text" placeholder="채팅">
        <input type="submit" value="채팅 전송" id="send_button">

    </body>
</html>