<!-- 상대방이 보낸 메시지 CLASS : msg_box -->
<div class="chat ch1">
    <div class="profile_img">
        <img src="../assets/images/default-profile.png" alt="프로필이미지">
    </div>
    <div class="text_box">
        <div class="name">귤귤이</div>
        <div class="mag_info">
            <div class="mag">안녕하세요! 반갑습니다~</div>
            <div class="time">오후 6:18</div>
        </div>
    </div>
</div>

<!-- 자기가 보낸 메시지 CLASS : msg_box -->
<div class="chat ch2">
    <div class="text_box">
        <div class="mag_info">
            <div class="mag">반갑습니다</div>
            <div class="time">오후 6:18</div>
        </div>
    </div>
</div>

<!-- 이미지 전송 메시지 CLASS : msg_box -->
<div class="chat">
    <div class="text_box">
        <div class="mag_info">
            <div class="chat_image">
                <img src="../assets/images/default-profile.png" alt="">
            </div>
            <div class="time">오후 6:18</div>
        </div>
    </div>
</div>

<!-- 유저 목록 ID : online_players-->
<li>
    <div class="profile_img">
        <img src="../assets/images/default-profile.png" alt="프로필이미지">
    </div>
    <p>오유림</p>
</li>

<!-- 이미지 모아보기 CLASS : img_list -->
<div class="img_item">
    <div class="date">2023/05</div>
    <div class="img_group">
        <div class="group_item">
            <img src="../assets/images/default-background.png" alt="배경이미지">
        </div>
        <div class="group_item">
            <img src="../assets/images/default-background.png" alt="배경이미지">
        </div>
        <div class="group_item">
            <img src="../assets/images/default-background.png" alt="배경이미지">
        </div>
        <div class="group_item">
            <img src="../assets/images/default-background.png" alt="배경이미지">
        </div>
        <div class="group_item">
            <img src="../assets/images/default-background.png" alt="배경이미지">
        </div>
    </div>
</div>

<!-- 입/퇴장 알림 CLASS : msg_box -->
<div class="chat">
    <div class="text_box">
        <div class="mag_in_out">
            <div class="message">유림님이 나갔습니다.</div>
            <div class="message">유림님이 들어왔습니다.</div>
        </div>
    </div>
</div>

<!-- 타인이 보낸 이미지 CLASS : msg_box -->
<div class="chat ch1">
    <div class="profile_img">
        <img src="../assets/images/default-profile.png" alt="프로필이미지">
    </div>
    <div class="text_box">
        <div class="name">귤귤이</div>
        <div class="mag_info">
            <div class="chat_image">
                <img src="../assets/images/default-profile.png" alt="">
            </div>
            <div class="time">오후 6:18</div>
        </div>
    </div>
</div>

<!-- 본인이 보낸 이미지 Class : msg_box -->
<div class="chat ch2">
    <div class="text_box">
        <div class="mag_info">
            <div class="chat_image">
            <img src="../assets/images/default-profile.png" alt="">
        </div>
            <div class="time">오후 6:18</div>
        </div>
    </div>
</div>

<!-- 유튜브 -->
<iframe width="300" height="170" src="https://www.youtube.com/embed/YZ0xA3LUzNQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>