<!doctype html>
<html lang="en">
<head>
    <!--<script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>-->
    <script type="module" src="/assets/js/chat.js"></script>
    <script type="module" src="/assets/js/fileupload.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>다봄모임/게시글목록 채팅하기</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <script defer src="../assets/js/custom.js"></script>
    <script> var h_f_link = ""; </script>
</head>
<body>
<main>
    <div class="chat_wrap">
        <div class="container">
            <nav class="left_nav">
                <h1 class="logo">
                    <a href="javascript:"><img src="../assets/images/logo.svg" alt="로고"></a>
                </h1>
                <ul id="online_players" class="nav_list">
                    <!-- JS 추가구역 -->
                </ul>
            </nav>
            <div class="chat_box">
                <div class="file_drag_drop">
                    <img src="https://firebasestorage.googleapis.com/v0/b/dabom-ca6fe.appspot.com/o/dabom%2FZNMXrmtLhwR9zK3BdSRACVmNUjs2%2F2023-05-19%2020:57:00?alt=media&token=b7203aad-2b89-45bf-892c-b6f116cbe135" style="margin:auto"/>
                    <span style="margin:auto; color:white; font-weight: 500;">드래그 앤 드롭으로 파일을 전송합니다!</span>
                </div>
                <div class="loading">
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F236288455424EE5D2D" style="margin:auto"/>
                </div>
                <div class="inner">
                    <div class="chat_header">
                        <div class="show_mobile">
                            <div class="m_header_box">
                                <a href="javascript:history.back()" onclick="{history.back()}">
                                    <object data="../assets/images/exit-icon.svg" type="image/svg+xml" aria-label="나가기아이콘"></object>
                                </a>
                                <h2 id="room_title">종로역 식단관리 모임</h2>
                                <div class="utile_list">
                                    <a class="hamburger" href="javascript:">
                                        <div class="line top"></div>
                                        <div class="line bottom"></div>
                                        <div class="line center"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header_box">
                            <h2 id="room_title_m">종로역 식단관리 모임</h2>
                            <div class="utile_list">
                                <!--<a class="search_call" href="javascript:">
                                    <img src="../assets/images/search-icon.svg" alt="검색아이콘">
                                </a>
                                <a class="img_call" href="javascript:">
                                    <img src="../assets/images/imgmore-icon.svg" alt="이미지아이콘">
                                </a>-->
                                <a href="javascript:history.back()">
                                    <img src="../assets/images/exit-icon.svg" alt="나가기아이콘">
                                </a>
                            </div>
                        </div>
                        <!--<div class="search_bar">
                            <div class="search_box">
                                <a href="javascript:">
                                    <img src="../assets/images/back-icon.svg" alt="뒤로가기" class="goback1">
                                </a>
                                <input type="search" placeholder="대화 내용 검색">
                                <a href="javascript:">
                                    <img src="../assets/images/search-icon.svg" alt="검색아이콘">
                                </a>
                            </div>
                        </div>-->
                    </div>
                    <div class="msg_box">
                        <!-- js 생성 -->
                    </div>
                    <div class="msg_btn_box">
                        <a class="filebox" href="javascript:">
                            <form action='/chat/uploadfile' method="POST" entype="multipart/form-data">
                                <input type="file" name="file" id="input">
                                <label class="upload_img" for="input">
                                    <i class="img_icon"></i>
                                </label>
                            </form>
                                
                        </a>
                        <input id="chat_input" type="text" placeholder="메세지를 입력해주세요.">
                        <a id="send_button">전송</a>
                    </div>
                   <!--
                    <div class="img_more_box">
                        <div class="chat_header">
                            <div class="img_box">
                                <h2>사진 모아보기</h2>
                                <a href="javascript:">
                                    <img src="../assets/images/back-icon.svg" alt="뒤로가기" class="goback_image">
                                </a>
                            </div>
                        </div>
                        <div class="img_list">
                            <div class="img_item">
                                <div class="date">2023/05</div>
                                <div class="img_group">
                                    <div class="group_item">
                                        <img src="../assets/images/default-background.png" alt="배경이미지">
                                    </div>
                                    <div class="group_item">
                                        <img src="../assets/images/default-background.png" alt="배경이미지">
                                    </div>
                                    <div class="group_item">
                                        <img src="../assets/images/default-background.png" alt="배경이미지">
                                    </div>
                                    <div class="group_item">
                                        <img src="../assets/images/default-background.png" alt="배경이미지">
                                    </div>
                                    <div class="group_item">
                                        <img src="../assets/images/default-background.png" alt="배경이미지">
                                    </div>
                                </div>
                            </div>
                            <div class="img_item">
                                <div class="date">2023/05</div>
                                <div class="img_group">
                                    <div class="group_item">
                                        <img src="../assets/images/default-background.png" alt="배경이미지">
                                    </div>
                                    <div class="group_item">
                                        <img src="../assets/images/default-background.png" alt="배경이미지">
                                    </div>
                                    <div class="group_item">
                                        <img src="../assets/images/default-background.png" alt="배경이미지">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <nav class="show_mobile">
            <div class="m_nav">
                <div class="m_nav_item">
                    <div class="top">
                        <h1 class="logo">
                            <a href="javascript:"><img src="../assets/images/logo.svg" alt="로고"></a>
                        </h1>
                    </div>
                    <ul class="nav_list" id="online_players_m">

                        </ul>
                    <a href="javascript:history.back()">
                        <object data="../assets/images/exit-icon.svg" type="image/svg+xml" aria-label="나가기아이콘"></object>
                        <span>채팅방 나가기</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</main>
</body>
</html>