<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>다봄일지(칼로리)</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/popup.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
    <script defer type="module" src="/assets/js/diary.js"></script>
    <script type="module" src="/assets/js/user.js"></script>
    <link rel="stylesheet" href="/assets/css/toast.css">
    <link rel="stylesheet" href="/assets/css/diary.css">
    <script>
        var f_map = new Map();
    </script>
    
</head>
<body>
    <div style="flex-direction: column;" class="loading fix">
        <span class="loader"></span>
        <span style="margin-top: 20px;">처리중이오니 잠시만 기다려 주십시오. 데이터가 많을경우 더 많은 시간이 소요됩니다.</span>
        <span style="margin-top: 20px;" id="i_progress">진행 상황</span>
    </div>
    <header>
        <div class="pc_header">
            <nav class="menu">
                <a href="/kcal_consume">다봄섭취</a>
                <a href="/diary_add">오늘일지</a>
                <a href="/record">다봄기록</a>
                <a href="/groups?page=1&type=public">다봄모임</a>
                <a href="/mypage">마이다봄</a>
            </nav>
            <h1 class="logo">
                <a href="/"><img alt="로고" src="/assets/images/logo.svg"></a>
            </h1>
            <div class="login">
                <a class="bell" href="javascript:">
                    <div id="bell_new_alert"></div>
                    <img src="/assets/images/bell-icon.svg" alt="종아이콘">
                </a>
                <a id="login" class="login_icon" href="/login" title="로그인">
                    <img alt="로그인 아이콘" src="/assets/images/login-icon.svg">
                </a>
                <a id="logout" style="display:none" class="logout_icon" href="javascript:" title="로그아웃">
                 <img alt="로그아웃 아이콘" src="/assets/images/login-out-icon.svg">
                </a>
            </div>
        </div>
        <div class="right_menu">
            <div class="bell_menu">
                <a class="bell_item" href="javascript:" target="_black">
                    <div id="new_alert" class="dabom_alert"></div>
                    <div class="profile_img">
                        <img alt="프로필이미지" src="../assets/images/default-profile.png">
                    </div>
                    <div class="txt_box">
                        <p>샘플 알림입니다.</p>
                        <p>로그인후 알림이 오면 이런식으로 표기 됩니다.</p>
                        <p>왼쪽의 주황 점은 읽지 않은 새로운 알림임을 뜻합니다.</p>
                    </div>
                </a>
                <!-- JS 동적 추가 구역 -->

            </div>
        </div>

        <div class="show_mobile">
            <div class="mobile_header">
                <div class="m_header">
                    <h1 class="logo">
                        <a href="/">
                            <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                        </a>
                    </h1>
                    <a class="hamburger" href="javascript:">
                        <div class="line top"></div>
                        <div class="line bottom"></div>
                        <div class="line center"></div>
                    </a>
                </div>
                <div class="slide_nav">
                    <div class="slide_header">
                        <h1 class="logo">
                            <a href="/">
                                <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                            </a>
                        </h1>
                    </div>
                    <div class="slide_content">
                        <a href="/kcal_consume">다봄섭취</a>
                        <a href="/diary_add">오늘일지</a>
                        <a href="/record">다봄기록</a>
                        <a href="/groups?page=1&type=public">다봄모임</a>
                        <a href="/mypage">마이다봄</a>
                    </div>
                    <div class="slide_bottom">
                        <a id="login" href="/login"><i class="login_icon"></i><span class="txt">로그인</span></a>
                        <a id="logout" style="display: none" href="javascript:"><i class="logout_icon"></i><span class="txt">로그아웃</span></a>
                        <a class="bell" href="javascript:">
                            <div id="bell_new_alert"></div>
                            <img src="/assets/images/bell-icon.svg" alt="종아이콘">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<main>
    
    <!-- .info_box a태그 .on 들어갈때로 스타일 줬어요 -->
    <div class="kcal_wrap">
        <div class="container">
            <div class="top_box">
                <div class="date_item">
                    <div class="img_box">
                        <img src="/assets/images/small-mascot-01.svg" alt="다봄 사진 찍는 캐릭터">
                    </div>
                    <p class="date">2023년 6월 2일 금요일</p>
                </div>
                <div class="search_box">
                    <input type="text" id="searchInput" placeholder="음식을 검색하세요">
                    <a title="검색" href="javascript:" class="search_icon" id="send">
                        <object data="/assets/images/search-icon.svg" type="image/svg+xml" aria-label="검색아이콘"></object>
                    </a>
                    <a title="바코드 인식" href="javascript:" onclick="window.open('/diary_bar_cam')" class="camera_icon">
                        <object data="/assets/images/bar-scan-icon.svg" type="image/svg+xml"
                                aria-label="바코트 아이콘"></object>
                    </a>
                    
                </div>
                <div class="search_count">
                    <span>검색 결과 : <span class="search_count_num"></span> 개</span>
                </div>
                <ul class="search_info" id="kcalBox">
                    <!-- <li>
                        <div class="checkbox">
                            <input type="checkbox" id="check1">
                            <label for="check1">체크하기</label>
                        </div>
                        <p class="info_txt">방울토마토</p>
                        <div class="right_box">
                            <p class="kcal">3 kcal</p>
                            <a class="more_btn" href="javascript:">상세보기</a>
                        </div>
                    </li> -->

                </ul>
            </div>
            <div class="bottom_box">
                <div class="info_box">
                    <a onclick="window.open('/diary/food_manualy_add')" href="javascript:" target="_blank" class="add_img">
                        <object data="/assets/images/add-icon.svg" type="image/svg+xml" aria-label="플러스아이콘"></object>
                    </a>
                    <p>원하는 제품을 찾을수 없다면?</p>
                    <p>새로운 음식 추가</p>
                </div>
                <a id="kc_h_submit" class="red_btn" href="javascript:">등록하기</a>
            </div>
        </div>
    </div>
<!-- .more_btn 클릭했을때 나오는 팝업 -->
    <div class="kcal_popup_wrap" id="">
        <div class="inner">
            <h2 class="title">제품 상세 내용</h2>
            <ul class="content_box">
               <li>
                   <span>제품명: </span>방울토마토
               </li>
                <li>
                    <span>칼로리: </span>방울토마토
                </li>
                <li>
                    <span>갯수: </span>방울토마토
                </li>
            </ul>
            <div class="btn_box">
                <a class="black_line_btn" href="javascript:">뒤로가기</a>
                <a class="red_btn" href="javascript:">선택하기</a>
            </div>
        </div>
    </div>
</main>
<div id="toast"></div>
<script>
    (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();
  
    ChannelIO('boot', {
      "pluginKey": "bda6c3a5-d0b9-4359-93fe-46b9af57db3a"
    });
    document.querySelector(".loading").style.display = 'none';

</script>
</body>
<script src="/assets/js/header.js"></script>
</html>