<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>다봄일지(바코더)</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
    <link rel="stylesheet" href="/assets/css/toast.css">
</head>
<script>
    let removeToast;

    function toast(string) {
        const toast = document.getElementById("toast");

        toast.classList.contains("reveal") ?
            (clearTimeout(removeToast), removeToast = setTimeout(function () {
                document.getElementById("toast").classList.remove("reveal")
            }, 1000)) :
            removeToast = setTimeout(function () {
                document.getElementById("toast").classList.remove("reveal")
            }, 2500)
        toast.classList.add("reveal"),
            toast.innerText = string
    }

    function search_brcd() {
        var strbarcd = document.getElementById("strbarcd").value
        var previous = opener.document.title
        const err_des = document.querySelector(".des");
        console.log(strbarcd)
        if (!isNaN(strbarcd)){
            if (strbarcd.length == 13) {
                url = "/api/nutrient/barcodecroll/"+strbarcd
                fetch(url, {
                    method: 'GET'
                }).then(function(response) {
                    if (response.status == 200) {
                        response.json().then((f_data) => {
                            console.log(f_data)
                            let kcal = "해당 음식의 칼로리는 개당 "+f_data['에너지(kcal)']+" kcal 이며, 전체 칼로리는 "+f_data['에너지(kcal)']+" kcal 입니다."
                            let f_name = f_data['식품명']
                            if (previous.includes("기록")) {
                                html = `<div title="${kcal}" per="${f_data['에너지(kcal)']}" s_code=${f_data['SAMPLE_ID']} class="search_item">
                                                <a onclick="editamount(this.parentElement)" href="javascript:"><span>${f_name}</span><span class="amount" style="display:none;"> X <span class="amount_num">2</span></span></a>
                                                <a onclick="remove_ele(this.parentElement)" href="javascript:">
                                                    <object data="/assets/images/close-icon.svg" type="image/svg+xml" aria-label="닫기아이콘"></object>
                                                </a>
                                            </div>`
                                opener.document.querySelector(".search_box").insertAdjacentHTML("beforeend", html)
                                var q_tokcal = parseInt(opener.document.querySelector("#tokcal").innerText) + parseInt(f_data['에너지(kcal)']);
                                opener.document.querySelector("#tokcal").innerText = q_tokcal;
                                window.close()
                            }

                            if (previous.includes("칼로리")) {
                                html = `<div title="${kcal}" per="${f_data['에너지(kcal)']}" s_code=${f_data['SAMPLE_ID']} class="search_item">
                                                <a onclick="editamount(this.parentElement)" href="javascript:"><span>${f_name}</span><span class="amount" style="display:none;"> X <span class="amount_num">2</span></span></a>
                                                <a onclick="remove_ele(this.parentElement)" href="javascript:">
                                                    <object data="/assets/images/close-icon.svg" type="image/svg+xml" aria-label="닫기아이콘"></object>
                                                </a>
                                            </div>`
                                opener.opener.document.querySelector(".search_box").insertAdjacentHTML("beforeend", html)
                                var q_tokcal = parseInt(opener.opener.document.querySelector("#tokcal").innerText) + parseInt(f_data['에너지(kcal)']);
                                opener.opener.document.querySelector("#tokcal").innerText = q_tokcal;
                                opener.close();
                                window.close();
                            }
                        })
                    } else {
                        response.json().then((err) => {
                            toast(err.detail)
                            err_des.innerText = (err.detail+"\n입력된 바코드 : "+strbarcd)
                        })
                    }
                })
            } else {
                toast("바코드의 길이는 13자 이어야만 합니다.")
                err_des.innerText = "바코드의 길이는 13자 이어야만 합니다.\n입력한 바코드의 길이 : "+strbarcd.length+"\n입력된 바코드 : "+strbarcd
            }
        } else {
            toast("바코드는 숫자만 입력해야합니다.")
            err_des.innerText = "바코드는 숫자만 입력해야합니다.\n입력값 : "+strbarcd
        }
    }
</script>
<body>
    <header>
        <div class="pc_header">
            <nav class="menu">
                <a href="/kcal_consume">다봄섭취</a>
                <a href="/diary_add">오늘일지</a>
                <a href="/record">다봄기록</a>
                <a href="/groups?page=1&type=public">다봄모임</a>
                <a href="/mypage">마이다봄</a>
            </nav>
            <h1 class="logo">
                <a href="/"><img alt="로고" src="/assets/images/logo.svg"></a>
            </h1>
            <div class="login">
                <a class="bell" href="javascript:">
                    <div id="bell_new_alert"></div>
                    <img src="/assets/images/bell-icon.svg" alt="종아이콘">
                </a>
                <a id="login" class="login_icon" href="/login" title="로그인">
                    <img alt="로그인 아이콘" src="/assets/images/login-icon.svg">
                </a>
                <a id="logout" style="display:none" class="logout_icon" href="javascript:" title="로그아웃">
                 <img alt="로그아웃 아이콘" src="/assets/images/login-out-icon.svg">
                </a>
            </div>
        </div>
        <div class="right_menu">
            <div class="bell_menu">
                <a class="bell_item" href="javascript:" target="_black">
                    <div id="new_alert" class="dabom_alert"></div>
                    <div class="profile_img">
                        <img alt="프로필이미지" src="../assets/images/default-profile.png">
                    </div>
                    <div class="txt_box">
                        <p>샘플 알림입니다.</p>
                        <p>로그인후 알림이 오면 이런식으로 표기 됩니다.</p>
                        <p>왼쪽의 주황 점은 읽지 않은 새로운 알림임을 뜻합니다.</p>
                    </div>
                </a>
                <!-- JS 동적 추가 구역 -->

            </div>
        </div>

        <div class="show_mobile">
            <div class="mobile_header">
                <div class="m_header">
                    <h1 class="logo">
                        <a href="/">
                            <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                        </a>
                    </h1>
                    <a class="hamburger" href="javascript:">
                        <div class="line top"></div>
                        <div class="line bottom"></div>
                        <div class="line center"></div>
                    </a>
                </div>
                <div class="slide_nav">
                    <div class="slide_header">
                        <h1 class="logo">
                            <a href="/">
                                <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                            </a>
                        </h1>
                    </div>
                    <div class="slide_content">
                        <a href="/kcal_consume">다봄섭취</a>
                        <a href="/diary_add">오늘일지</a>
                        <a href="/record">다봄기록</a>
                        <a href="/groups?page=1&type=public">다봄모임</a>
                        <a href="/mypage">마이다봄</a>
                    </div>
                    <div class="slide_bottom">
                        <a id="login" href="/login"><i class="login_icon"></i><span class="txt">로그인</span></a>
                        <a id="logout" style="display: none" href="javascript:"><i class="logout_icon"></i><span class="txt">로그아웃</span></a>
                        <a class="bell" href="javascript:">
                            <div id="bell_new_alert"></div>
                            <img src="/assets/images/bell-icon.svg" alt="종아이콘">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- .info_box a태그 .on 들어갈때로 스타일 줬어요 -->
<main>
    <div id="toast"></div>
    <div class="scan_wrap">
        <div class="container">
            <div class="content_box">
                <a class="bar_scan" href="javascript:history.back()">
                    <object data="/assets/images/bar-scan-icon.svg" type="image/svg+xml" aria-label="바코더"></object>
                </a>
                <div class="txt_box">
                    <!--  바코드 인식오류-->
                    <p class="error"><span id="err_big">바코드 인식에 실패했습니다.</span> <br class="show_mobile"><span class="des">위의 이미지를 눌러 인식을 다시 시도하시거나 수동으로 입력해주세요.</span></p>
                    <!--  바코드 정보오류-->
                    <!--<p class="type_error">인식된 바코드 번호 : 8806265000685</p>-->
                </div>
                <div class="input_box">
                    <label>바코드 번호 검색</label>
                    <input maxlength="13" onkeyup="if(window.event.keyCode==13){search_brcd()}" id="strbarcd" type="text" placeholder="바코드 번호를 입력해주세요">
                </div>
                <a class="red_btn" id="search_btn" style="margin-bottom: 10px;" onclick="search_brcd()" href="javascript:">검색하기</a>
                <a class="red_btn" href="/diary/food_data_add">음식 데이터 추가하러가기</a>
            </div>
        </div>
    </div>
</main>
<script>
    (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();
  
    ChannelIO('boot', {
      "pluginKey": "bda6c3a5-d0b9-4359-93fe-46b9af57db3a"
    });
    document.querySelector(".loading").style.display = 'none';

</script>
</body>
<script src="/assets/js/header.js"></script>
<script>
    const searchParams = new URLSearchParams(location.search);
    const err_des = document.querySelector(".des");
    const erbit = document.querySelector("#err_big");
    for (const param of searchParams) {
        console.log(param);
        if (param[0] === "err") {
            var err = param[1];
            if (err === "nocodeimg") {
                err_des.innerText = "선택한 이미지에서 바코드를 찾을수 없습니다.\n위의 이미지를 눌러 인식을 다시 시도하시거나 수동으로 입력해주세요.";
            }

            if (err === "nofood") {
                erbit.innerText = "바코드 인식에 성공했으나 오류가 발생했습니다.";
                err_des.innerText = "음식이 아닌 바코드를 인식했거나, 찾을수 없는 바코드입니다.\n(이의 경우 음식 데이터를 추가해주시면 추후에는 발생하지 않습니다.)";
            }

            if (err === "canceled") {
                err_des.innerText = "사용자가 바코드 인식을 취소했습니다."
            }
        }
    }

    function clickEnter(className1, className2) {
        // console.log(className1)
        try {
            className1.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                className2.click();
            }
            });
        } catch (e) {void(0)}
    }
    
    const input = document.getElementById("strbarcd");
    const btn = document.getElementById("search_btn");
    clickEnter()
</script>
</html>