<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>다봄일지(기록)</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
    <script type="module" src="/assets/js/diary.js"></script>
    <link rel="stylesheet" href="/assets/css/toast.css">
    <script>
        var eat_when = "morning";
        var fd_total_kcal = 0;
        var last_click_element;
        var s_friends = [];

        function sel_eat_when(when) {
            eat_when = when;
        }
    </script>
</head>
<style>
    .clicked{
        color:#F43B00;
    }
</style>
<body>
    <div class="fd_edit_back">
        <div class="fd_edit">
            <h2>음식 갯수 설정<label for="popup"><a onclick="this.parentElement.parentElement.parentElement.parentElement.style.display='none'" href="javascript:">X</a></label></h2>
            <div class="fd_edit_content">
                <div class="base_data">
                    <div>식품명 : <span>소금빵</span> </div>
                    <div>개당 칼로리 : <span>300</span>kcal</div>
                </div>
                <div class="editable_data">
                    <div class="edit_amount">
                        갯수
                        <input class="amount" type="number" min="1" value="1" onchange="setamount(this.value)">
                    </div>
                    <div style="margin-top: 50px; font-size: 30px; font-weight: 900;">
                        총 칼로리 : <span id="total_kcal">300</span>kcal
                    </div>
                </div>
                <div>
                    <button onclick="submit_edit_amount(this.parentElement.parentElement)" class="edit_submit">완료</button>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div class="pc_header">
            <nav class="menu">
                <a href="/kcal_consume">다봄섭취</a>
                <a href="/diary_add">오늘일지</a>
                <a href="/record">다봄기록</a>
                <a href="/groups?page=1&type=public">다봄모임</a>
                <a href="javascript:">다봄달력</a>
            </nav>
            <h1 class="logo">
                <a href="/"><img alt="로고" src="/assets/images/logo.svg"></a>
            </h1>
            <div class="login">
                <a href="/login">
                    <img alt="로그인 아이콘" src="/assets/images/login-icon.svg">
                </a>
            </div>
        </div>
        <div class="show_mobile">
            <div class="mobile_header">
                <div class="m_header">
                    <h1 class="logo">
                        <a href="/">
                            <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                        </a>
                    </h1>
                    <a class="hamburger" href="javascript:">
                        <div class="line top"></div>
                        <div class="line bottom"></div>
                        <div class="line center"></div>
                    </a>
                </div>
                <div class="slide_nav">
                    <div class="slide_header">
                        <h1 class="logo">
                            <a href="/">
                                <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                            </a>
                        </h1>
                    </div>
                    <div class="slide_content">
                        <a href="/kcal_consume">다봄섭취</a>
                        <a href="/diary_add">오늘일지</a>
                        <a href="/record:">다봄기록</a>
                        <a href="/groups?page=1&type=public">다봄모임</a>
                        <a href="javascript:">다봄달력</a>
                    </div>
                    <div class="slide_bottom">
                        <a href="/login"><i class="mypage-icon"></i>마이페이지</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- .info_box a태그 .on 들어갈때로 스타일 줬어요 -->
<main>
    <div class="update_wrap">
        <div class="container">
            <div class="top_box">
                <div class="date_item">
                    <div class="img_box">
                        <img src="/assets/images/small-mascot-01.svg" alt="다봄 사진 찍는 캐릭터">
                    </div>
                    <p class="date">2023년 6월 2일 금요일</p>
                </div>
                <ul class="img_item">
                    <!-- <li>
                        <div class="img_box">
                            <img src="/assets/images/default-background.png" alt="이미지">
                        </div>
                        <a class="close_btn" href="javascript:">
                            <object data="/assets/images/close-icon.svg" type="image/svg+xml"
                                    aria-label="닫기아이콘"></object>
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="info_box">
                <div class="btn_item">
                    <a class="on" id="eat_when" onclick="sel_eat_when('morning')" href='javascript:'>아침</a>
                    <a id="eat_when" onclick="sel_eat_when('lunch')" href='javascript:'>점심</a>
                    <a id="eat_when" onclick="sel_eat_when('night')" href="javascript:">저녁</a>
                    <a id="eat_when" onclick="sel_eat_when('free')" href="javascript:">간식</a>

                        <a href="javascript:" onclick="window.open('/diary_kcal')" target="_blank" class="">칼로리 검색하기</a>
                        <a href="javascript:" onclick="window.open('/diary_bar_cam')" target="_blank" class="">바코드 검색하기</a>
                        <a href="javascript:" id="d_f_open" target="_blank" class="">같이 먹은 친구 추가하기</a>

                </div>
                <div style="display:flex;justify-content: right;">
                    <span style="margin-right: auto;">이름을 눌러 갯수를 수정할 수 있습니다.</span>
                    <span>현재 총 칼로리 :  <span id="tokcal">0</span>  kcal</span>
                </div>
                <div class="search_box">
                    <!--동적-->
                </div>
                <div class="text_item">
                    <input id="f_title" type="text" placeholder="제목을 입력하세요">
                    <textarea id="f_desc" placeholder="내용을 입력하세요" rows="20" role="textbox"></textarea>
                    <button onclick="submit_write()">작성하기</button>
                </div>
            </div>
            
            
        </div>
    </div>
    
</main>
<div class="friend_list_back">
    <div class="inner">
        <div class="pop_close_head">
            <h2 id="friend_ul_title" class="title">같이 먹은 친구를 선택하세요.</h2>
        </div>
        <ul class="content_box"></ul>
        <button id="close_friend_list" class="black_line_btn">저장하기</button>
    </div>
</div>
<div id="toast"></div>
<script>
    (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();
  
    ChannelIO('boot', {
      "pluginKey": "bda6c3a5-d0b9-4359-93fe-46b9af57db3a"
    });
    document.querySelector(".loading").style.display = 'none';

</script>
</body>
<script src="/assets/js/header.js"></script>
<script>
    function setamount(amount) {
        amount = parseInt(amount);
        var default_kcal = parseInt(document.querySelector("body > div > div > div > div.base_data > div:nth-child(2) > span").innerText);
        document.querySelector("#total_kcal").innerText = (default_kcal*amount)
    }

    function editamount(element) {
        last_click_element = element
        document.querySelector('.fd_edit').style.display = '';

        var name = element.children[0].children[0].innerText;
        var default_kcal = parseInt(element.attributes.per.value);
        var amonunt_div = element.children[0].children[1]

        var fd_edit_content = document.querySelector('.fd_edit_back').children[0].children[1];
        var ed_amount = document.querySelector('.edit_amount').children[0]
        var base_data = fd_edit_content.children[0];
        var edit_able_data = fd_edit_content.children[1];

        var total_kcal = default_kcal;

        base_data.children[0].children[0].innerText = name; // 식품명
        base_data.children[1].children[0].innerText = default_kcal // 기본 칼로리

        if (amonunt_div.style.display != 'none') {
            edit_able_data.children[0].children[0].value = parseInt(amonunt_div.children[0].innerText); // 갯수
            edit_able_data.children[1].children[0].innerText = (parseInt(amonunt_div.children[0].innerText)*default_kcal); // 갯수에 따른 총 칼로리
            total_kcal = (parseInt(amonunt_div.children[0].innerText)*default_kcal)
            ed_amount.value = parseInt(amonunt_div.children[0].innerText)
        } else {
            edit_able_data.children[1].children[0].innerText = default_kcal; // 총 칼로리 ( 갯수가 지정안됨 ( 1개 ) )
            ed_amount.value = 1;
        }

        fd_total_kcal = parseInt(document.querySelector("#tokcal").innerText) - total_kcal; // 현재 수정요소의 칼로리를 제외한 전체 칼로리를 저장

        document.querySelector('.fd_edit_back').style.display = 'flex';
    }

    function submit_edit_amount(element) {
        element.parentElement.style.display = 'none'; // 처리하는 동안 조작할수 없게 안보이게 처리
        var f_data = element.children[1];
        var amount = parseInt(f_data.children[0].children[0].value);
        if (amount > 0) {
            var t_tokcal = parseInt(f_data.children[1].children[0].innerText);
            if (amount === 1) {
                last_click_element.children[0].children[1].style.display = 'none'; // 갯수가 1개면 갯수가 안보이게
            } else {
                last_click_element.children[0].children[1].style.display = ''; // 갯수가 2개 이상이면 갯수가 보이게
            }
            
            last_click_element.children[0].children[1].children[0].innerText = amount; // 표시 갯수 변경
            last_click_element.title = "해당 음식의 칼로리는 개당 "+last_click_element.attributes.per.value+" kcal 이며, 전체 칼로리는 "+t_tokcal+" kcal 입니다."

            document.querySelector("#tokcal").innerText = fd_total_kcal + t_tokcal; //총 칼로리 변경
            document.querySelector('.fd_edit_back').style.display = 'none'; //작업 완료후 배경 원상 복귀
        } else {
            element.parentElement.style.display = '';
            alert("음식의 갯수는 0개 이하일수 없습니다.")
        }
    }

    function remove_ele(element) {
        f_name = element.children[0].children[0].innerText
        let del_con = confirm(`${f_name}을(를) 삭제하시겠습니까?`)

        if (del_con) {element.remove()}
    }

    function submit_write() {
        const food_element = document.querySelector(".search_box")
        const title = document.querySelector("#f_title").value
        const desc = document.querySelector("#f_desc").value
        const imgs = document.querySelector(".img_item")
        if (food_element.innerText === "") {
            alert("선택한 음식이 없습니다.\n음식을 선택해주세요.")
        } else {
            var a_list = []
            var files = []
            Array.prototype.forEach.call(food_element.children,(element) => {
                var amount = 1;
                if(element.children[0].children[1].style.display != "none") {
                    amount = parseInt(element.children[0].children[1].children[0].innerText)
                } 

                let d_json = {
                    "code" : element.attributes.s_code.value,
                    "amount" : amount
                }

                a_list.push(d_json)
            })

            Array.prototype.forEach.call(imgs.children,(element) => {
                let url = element.id.replace("img-","")
                files.push(url)
            })

            if (title.trim() === "") {
                alert("제목을 입력해주세요.")
            } else if (desc.trim() === "") {
                alert("내용을 업력해주세요.")
            } else {
                var s_json = {
                    "title": title,
                    "desc": desc,
                    "foods": a_list,
                    "friends": s_friends,
                    "images": files
                }

                fetch("/api/diary/add", {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify(s_json)
                }).then((res) => {
                    console.log(res)
                })
            }
        }
    }
</script>
</html>