<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>다봄일지(바코더)</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
</head>
<body>
    <header>
        <div class="pc_header">
            <nav class="menu">
                <a href="/kcal_consume">다봄섭취</a>
                <a href="/diary_add">오늘일지</a>
                <a href="/record">다봄기록</a>
                <a href="/groups?page=1&type=public">다봄모임</a>
                <a href="javascript:">다봄달력</a>
            </nav>
            <h1 class="logo">
                <a href="/"><img alt="로고" src="/assets/images/logo.svg"></a>
            </h1>
            <div class="login">
                <a href="/login">
                    <img alt="로그인 아이콘" src="/assets/images/login-icon.svg">
                </a>
            </div>
        </div>
        <div class="show_mobile">
            <div class="mobile_header">
                <div class="m_header">
                    <h1 class="logo">
                        <a href="/">
                            <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                        </a>
                    </h1>
                    <a class="hamburger" href="javascript:">
                        <div class="line top"></div>
                        <div class="line bottom"></div>
                        <div class="line center"></div>
                    </a>
                </div>
                <div class="slide_nav">
                    <div class="slide_header">
                        <h1 class="logo">
                            <a href="/">
                                <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                            </a>
                        </h1>
                    </div>
                    <div class="slide_content">
                        <a href="/kcal_consume">다봄섭취</a>
                        <a href="/diary_add">오늘일지</a>
                        <a href="/record:">다봄기록</a>
                        <a href="/groups?page=1&type=public">다봄모임</a>
                        <a href="javascript:">다봄달력</a>
                    </div>
                    <div class="slide_bottom">
                        <a href="/login"><i class="mypage-icon"></i>마이페이지</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- .info_box a태그 .on 들어갈때로 스타일 줬어요 -->
<main>
    <div class="scan_wrap">
        <div class="container">
            <div class="content_box">
                <a class="bar_scan" href="javascript:history.back()">
                    <object data="/assets/images/bar-scan-icon.svg" type="image/svg+xml" aria-label="바코더"></object>
                </a>
                <div class="txt_box">
                    <!--  바코드 인식오류-->
                    <p class="error"><span id="err_big">바코드 인식에 실패했습니다.</span> <br class="show_mobile"><span class="des">위의 이미지를 눌러 인식을 다시 시도하시거나 수동으로 입력해주세요.</span></p>
                    <!--  바코드 정보오류-->
                    <!--<p class="type_error">인식된 바코드 번호 : 8806265000685</p>-->
                </div>
                <div class="input_box">
                    <label>바코드 번호 검색</label>
                    <input type="text" placeholder="바코드 번호를 입력해주세요">
                </div>
                <a class="red_btn" href="javascript:">검색하기</a>
                <a class="red_btn" href="javascript:">음식 데이터 추가하러가기</a>
            </div>
        </div>
    </div>
</main>
</body>
<script src="/assets/js/header.js"></script>
<script>
    const searchParams = new URLSearchParams(location.search);
    const err_des = document.querySelector(".des");
    const erbit = document.querySelector("#err_big");
    for (const param of searchParams) {
        console.log(param);
        if (param[0] === "err") {
            var err = param[1];
            if (err === "nocodeimg") {
                err_des.innerText = "선택한 이미지에서 바코드를 찾을수 없습니다.\n위의 이미지를 눌러 인식을 다시 시도하시거나 수동으로 입력해주세요.";
            }

            if (err === "nofood") {
                erbit.innerText = "바코드 인식에 성공했으나 오류가 발생했습니다.";
                err_des.innerText = "음식이 아닌 바코드를 인식했거나, 찾을수 없는 바코드입니다.\n(이의 경우 음식 데이터를 추가해주시면 추후에는 발생하지 않습니다.)";
            }
        }
    }
</script>
</html>