<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>다봄 : 일지(바코더)</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
    <link rel="stylesheet" href="/assets/css/scanner.css">
    
    <script src="/assets/js/barscanner.js"></script>
    <script src="/assets/js/eruda.js"></script>
    <script>eruda.init();</script>
</head>
<body>
    <div class="bar_cam_wrap">
        <div class="inner">
            <div style="width: 100%" id="reader"></div>

            <a class="manual_type" href="/diary_bar_scan?err=canceled">
                <div>
                    <span>바코드 수동으로 입력하러 가기</span>
                </div>
            </a>
        </div>
    </div>

    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // Handle on success condition with the decoded text or result.
            console.log(`Scan result: ${decodedText}`, decodedResult);
            
        
            // ...
            html5QrcodeScanner.clear();
            // ^ this will stop the scanner (video feed) and clear the scan area.
            document.write(`인식된 바코드 번호 ${decodedText}로 음식을 조회중입니다.`)
            url = "/api/nutrient/barcodecroll/"+decodedText
            var previous = opener.document.title
            fetch(url, {
                method: 'GET'
            }).then(function(response) {
                if (response.status == 200) {
                    response.json().then((f_data) => {
                        console.log(f_data)
                        let kcal = "해당 음식의 칼로리는 개당 "+f_data['에너지(kcal)']+" kcal 이며, 전체 칼로리는 "+f_data['에너지(kcal)']+" kcal 입니다."
                        let f_name = f_data['식품명']
                        if (previous.includes("기록")) {
                            alert("기록!")
                            let html = `<div title="${kcal}" per="${f_data['에너지(kcal)']}" tokcal="${f_data['에너지(kcal)']}" s_code=${f_data['SAMPLE_ID']} class="search_item">
                                            <a onclick="editamount(this.parentElement)" href="javascript:"><span>${f_name}</span><span> / <span id="id="per_gram"">${f_data['per_gram']}</span><span id="default_gram" style="display:none">${value[3]}</span> g(ml)</span><span class="amount" style="display:none;"> X <span class="amount_num">2</span></span></a>
                                            <a onclick="remove_ele(this.parentElement)" href="javascript:">
                                                <object data="/assets/images/close-icon.svg" type="image/svg+xml" aria-label="닫기아이콘"></object>
                                            </a>
                                        </div>`
                            opener.document.querySelector(".search_box").insertAdjacentHTML("beforeend", html)
                            var q_tokcal = parseInt(opener.document.querySelector("#tokcal").innerText) + parseInt(f_data['에너지(kcal)']);
                            opener.document.querySelector("#tokcal").innerText = q_tokcal;
                            window.close()
                        }

                        if (previous.includes("칼로리")) {
                            let html = `<div title="${kcal}" per="${f_data['에너지(kcal)']}" tokcal="${f_data['에너지(kcal)']}" s_code=${f_data['SAMPLE_ID']} class="search_item">
                                            <a onclick="editamount(this.parentElement)" href="javascript:"><span>${f_name}</span><span> / <span id="per_gram">${f_data['per_gram']}</span><span id="default_gram" style="display:none">${value[3]}</span> g(ml)</span><span class="amount" style="display:none;"> X <span class="amount_num">2</span></span></a>
                                            <a onclick="remove_ele(this.parentElement)" href="javascript:">
                                                <object data="/assets/images/close-icon.svg" type="image/svg+xml" aria-label="닫기아이콘"></object>
                                            </a>
                                        </div>`
                            opener.opener.document.querySelector(".search_box").insertAdjacentHTML("beforeend", html)
                            var q_tokcal = parseInt(opener.opener.document.querySelector("#tokcal").innerText) + parseInt(f_data['에너지(kcal)']);
                            opener.opener.document.querySelector("#tokcal").innerText = q_tokcal;
                            opener.close();
                            window.close();
                        }
                    })
                } else {
                    location.href = `/diary_bar_scan?err=nofood&barcode=${decodedText}`
                }
            })
        }

        function onScanError(errorMessage) {
            // handle on error condition, with error message
            if (errorMessage == "D: 이미지에서 어떤 코드도 찾지 못했습니다. 다른이미지를 선택해주세요.") {
                location.href = '/diary_bar_scan?err=nocodeimg'
            } else {
                console.log(errorMessage)
            }
            
        }

        var html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess, onScanError);
        html5QrcodeScanner
    </script>
</body>
</html>