<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>친구요청 팝업</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/popup.css">
    <script>

        var data
        var nick
        window.addEventListener("DOMContentLoaded", function () {
            data = document.location.href.split("/request/")[1];
            let datas = data.split("/")
            console.log(datas)
            document.querySelector(".name").innerText = datas[1]
        })

        function progress(type) {
            document.querySelector(".btn_box").innerHTML = ""
            var msg
            if (type == "accept") {
                msg = "수락"
            } else {
                msg = "거절"
            }
            fetch(`http://localhost:8000/api/friends/${type}/${data}`, {
                method: "POST"
            }).then(function (res) {
                if (res.statusCode == 200){
                    document.querySelector("#res").innerText = msg+"했습니다."
                }else{
                    res.json().then(async (json) => {
                        let detail = json.detail
                        if (detail.code == "ER026") {
                            document.querySelector("#res").innerText = msg+"하는중에 오류가 발생했습니다."
                            document.querySelector(".btn_box").innerText = "만료된 친구요청입니다. 이미 친구처리가 되었거나 친구요청이 중복되었을수 있습니다."
                        }

                        if (detail.code == "ER027") {
                            document.querySelector("#res").innerText = msg+"하는중에 오류가 발생했습니다."
                            document.querySelector(".btn_box").innerText = "손상된 링크입니다. 친구요청을 새로 요청하거나 메일의 링크를 다시 클릭하세요."
                        }
                    })
                }
            })
            //여기부터
        }
    </script>
</head>
<body>
<main>
    <div class="email_friend_wrap">
        <div class="inner">
            <div class="content_box">
                <h2><em class="name">datas</em>님의 친구요청을<br><span id="res">수락하시겠습니까?</span></h2>
                <div class="btn_box">
                    <a href="javascript:progress('accept')">친구수락</a>
                    <a href="javascript:progress('reject')">친구거절</a>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();
  
    ChannelIO('boot', {
      "pluginKey": "bda6c3a5-d0b9-4359-93fe-46b9af57db3a"
    });
</script>
</body>
</html>