<!-- 친구 class : bottom 페이지당 7개 -->
<li>
    <div class="checkbox">
        <input type="checkbox" id="check1">
        <label for="check1">
            <span class="profile_img">
                <img src="/assets/images/default-profile.png" alt="프로필이미지">
           </span>
        </label>
    </div>
    <div class="txt_box">
        <p class="name">김철수 <em class="data">(올해는 살을 꼭 뺄거야!!!!!!)</em></p>
    </div>
    <a href="javascript:">식단보기</a>
</li>

<!-- 친구 목록 넘버 class : numdiv -->
<!-- 노멀 -->
<a class="num" href="javascript:">1</a> 

<!-- 현재 페이지 -->
<a class="selected" href="javascript:">1</a>

<!-- 알림 -->
<a class="bell_item" href="javascript:" target="_black"> 
    <div class="dabom_alert"></div> <!-- id="new_alert"  여부로 읽은 알림 인지 구분 -->
    <div class="profile_img">
        <img alt="프로필이미지" src="../assets/images/default-profile.png">
    </div>
    <div class="txt_box">
        <p>친구요청이 도착했습니다.</p>
        <p>nick 님으로부터 친구요청이 도착했습니다!</p>
    </div>
</a>