<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-title" content="다봄">
    <meta name="robots" content="index,nofollow">
    <meta property="og:title" content="다봄">
    <meta property="og:site_name" content="다봄 | 다이어트 하는거 다 지켜봄">
    <meta property="og:url" content="http://dabom.kro.kr">
    <meta property="og:description" content="음식정보를 조회 저장하고 자기에게 필요한 칼로리를 계산해보세요!">
    <meta property="og:image" content="/assets/images/logo.png">
    <meta name="keywords" content="dabom, 다봄, 다이어트, 다이어트 하는거 다 지켜봄, 다 지켜봄, 다이어트 어플, 식단 어플, 식단 조절, 식단 프로그램, 다이어트관리, 친구와 함께 공유하는 식단관리">
    <meta name="author" content="gyung won">
    <meta name="description" content="음식정보를 조회 저장하고 자기에게 필요한 칼로리를 계산해보세요!">
    <meta name="robots" content="all">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="다봄">
    <meta name="twitter:description" content="다이어트하는거 다 지켜봄">
    <meta name="twitter:image" content="/assets/images/logo.png">
    <meta name="twitter:url" content="http://dabom.kro.kr">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-icon-114x114.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/assets/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./assets/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>다봄: 모임 (그룹) </title>
    <script type="module" src="/assets/js/group/detail.js"></script>
    <link href="/assets/css/reset.css" rel="stylesheet">
    <link href="/assets/css/layout.css" rel="stylesheet">
    <link href="/assets/css/popup.css" rel="stylesheet">
    <script type="module" src="/assets/js/alert.js"></script>
    <script type="module" src="/assets/js/fileupload.js"></script>
</head>
<body>
    <header>
        <div class="pc_header">
            <nav class="menu">
                <a href="/kcal_consume">다봄섭취</a>
                <a href="/diary_add">오늘일지</a>
                <a href="/record">다봄기록</a>
                <a href="/groups?page=1&type=public">다봄모임</a>
                <a href="/mypage">마이다봄</a>
            </nav>
            <h1 class="logo">
                <a href="/"><img alt="로고" src="/assets/images/logo.svg"></a>
            </h1>
            <div class="login">
                <a class="bell" href="javascript:">
                    <div id="bell_new_alert"></div>
                    <img src="/assets/images/bell-icon.svg" alt="종아이콘">
                </a>
                <a id="login" class="login_icon" href="/login" title="로그인">
                    <img alt="로그인 아이콘" src="/assets/images/login-icon.svg">
                </a>
                <a id="logout" style="display:none" class="logout_icon" href="javascript:" title="로그아웃">
                 <img alt="로그아웃 아이콘" src="/assets/images/login-out-icon.svg">
                </a>
            </div>
        </div>
        <div class="right_menu">
            <div class="bell_menu">
                <a class="bell_item" href="javascript:" target="_black">
                    <div id="new_alert" class="dabom_alert"></div>
                    <div class="profile_img">
                        <img alt="프로필이미지" src="../assets/images/default-profile.png">
                    </div>
                    <div class="txt_box">
                        <p>샘플 알림입니다.</p>
                        <p>로그인후 알림이 오면 이런식으로 표기 됩니다.</p>
                        <p>왼쪽의 주황 점은 읽지 않은 새로운 알림임을 뜻합니다.</p>
                    </div>
                </a>
                <!-- JS 동적 추가 구역 -->

            </div>
        </div>

        <div class="show_mobile">
            <div class="mobile_header">
                <div class="m_header">
                    <h1 class="logo">
                        <a href="/">
                            <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                        </a>
                    </h1>
                    <a class="hamburger" href="javascript:">
                        <div class="line top"></div>
                        <div class="line bottom"></div>
                        <div class="line center"></div>
                    </a>
                </div>
                <div class="slide_nav">
                    <div class="slide_header">
                        <h1 class="logo">
                            <a href="/">
                                <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                            </a>
                        </h1>
                    </div>
                    <div class="slide_content">
                        <a href="/kcal_consume">다봄섭취</a>
                        <a href="/diary_add">오늘일지</a>
                        <a href="/record">다봄기록</a>
                        <a href="/groups?page=1&type=public">다봄모임</a>
                        <a href="/mypage">마이다봄</a>
                    </div>
                    <div class="slide_bottom">
                        <a id="login" href="/login"><i class="login_icon"></i><span class="txt">로그인</span></a>
                        <a id="logout" style="display: none" href="javascript:"><i class="logout_icon"></i><span class="txt">로그아웃</span></a>
                        <a class="bell" href="javascript:">
                            <div id="bell_new_alert"></div>
                            <img src="/assets/images/bell-icon.svg" alt="종아이콘">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<main>
    <!--   .top_txt >.btn_box>.red_btn 'display: none' 가입되면 보이게 해주세요 -->
    <div class="group_list_wrap">
        <div class="banner_img">
            <img alt="배너이미지" src="/assets/images/default-background.png">
        </div>
        <div class="container">
            <div class="bottom_box">
                <div class="top_txt">
                    <h2>종로역 식단관리 모임</h2>
                    <a href="javascript:" class="member">맴버 : 125명 <i class="user_List_icon"><object data="/assets/images/user-list-icon.svg" type="image/svg+xml" aria-label="왼쪽 화살표"></object></i></a>
                    <div class="btn_box">
                        <a id="edit_btn" class="gray_btn" href="javascript:">소개보기</a>
                        <a class="red_btn" href="javascript:" style="display: none">채팅하기</a>
                    </div>
                </div>
                <ul class="list_box">
                    <!--<li>
                        <a class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </a>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="meal">아침</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span>유림</span>
                                </div>
                                <div class="right_box">
                                    <p class="date">05 / 03</p>
                                    <a class="comment" href="javascript:">
                                        <i class="comment_icon"><img alt="댓글아이콘" src="/assets/images/comment-icon.svg"></i>
                                        댓글 <em>86</em>개
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </a>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="meal">아침</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span>유림</span>
                                </div>
                                <div class="right_box">
                                    <p class="date">05 / 03</p>
                                    <a class="comment" href="javascript:">
                                        <i class="comment_icon"><img alt="댓글아이콘" src="/assets/images/comment-icon.svg"></i>
                                        댓글 <em>86</em>개
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </a>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="meal">아침</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span>유림</span>
                                </div>
                                <div class="right_box">
                                    <p class="date">05 / 03</p>
                                    <a class="comment" href="javascript:">
                                        <i class="comment_icon"><img alt="댓글아이콘" src="/assets/images/comment-icon.svg"></i>
                                        댓글 <em>86</em>개
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>-->
                </ul>
                <div class="post_nav">
                    <a class="prev" href="javascript:">
                        <object aria-label="왼쪽 화살표" data="/assets/images/arrow-left.svg" type="image/svg+xml"></object>
                    </a>
                    <div id="page_div">
                        <!--js동적-->
                    </div>
                    <a class="next" href="javascript:">
                        <object aria-label="오른쪽 화살표" data="/assets/images/arrow-right.svg" type="image/svg+xml"></object>
                    </a>
                </div>
                <div style="    display: flex;
                position: sticky;
                justify-content: right;">
                    <button style="    padding: 10px 20px;
                    border: 1px black solid;
                    border-radius: 10px;
                    display: flex;
                    position: absolute;
                    top: -80px;" onclick="window.open('/diary_update')" >글 쓰기</button>
                </div>
            </div>
        </div>
    </div>
      <!-- .member 클릭했을때 나오는 팝업 -->
      <div class="group_list_popup">
        <div class="inner">
            <div class="pop_close_head">
                <h2 id="mem_ul_title" class="title">그룹 맴버 138</h2>
                <!--<a class="admin_check" href="javascript:">관리자 지정</a>-->
            </div>
            <ul class="content_box">
                <li>
                    <label class="hidden">유저 이메일</label>
                    <input type="text" placeholder="유저 이메일">
                    <a href="javascript:">초대</a>
                </li>
            </ul>
            <button id="close_mem_list" class="black_line_btn">뒤로가기</button>
        </div>
    </div>

<div id="group_info" class="group_change_popup">
        <div class="inner">
            <div class="pop_close_head">
                <h2 class="title">그룹 소개</h2>
                <a class="close_btn" onclick="document.querySelector('#group_info').style.display = 'none'" href="javascript:">
                    <object aria-label="닫기 아이콘" data="/assets/images/close-icon.svg" type="image/svg+xml"></object>
                </a>
            </div>
            <div class="content_box">
                <div id="g_info" class="info_box">
                    
                </div>
            </div>
        </div>
    </div>

    <!-- 수정하기 클릭했을때 나오는 팝업 -->
    <div id="group_edit" class="group_change_popup">
        <div class="inner">
            <div class="pop_close_head">
                <h2 class="title">그룹 정보 수정</h2>
                <a class="close_btn" onclick="document.querySelector('#group_edit').style.display = 'none'" href="javascript:">
                    <object aria-label="닫기 아이콘" data="/assets/images/close-icon.svg" type="image/svg+xml"></object>
                </a>
            </div>
            <div class="content_box">
                <div class="filebox">
                    <form action='' method="POST" entype="multipart/form-data">
                        <input type="file" name="file" id="input">
                        <label class="profile_img_box" for="input">
                            <div class="upload_img">
                                <img id="e_g_pf" src="/assets/images/group-add-bg.png" alt="파일 업로드 이미지">
                            </div>
                        </label>
                    </form>
                </div>
                <p class="upload_txt"><i><object data="/assets/images/img-icon.svg" type="image/svg+xml" aria-label="이미지아이콘"></object></i>사진을 <em>업로드</em> 해주세요</p>
                <div class="info_box">
                    <label class="hidden">그룹명</label>
                    <input id="e_g_name" type="text" placeholder="그룹명을 입력하세요.">
                    <label class="hidden">그룹 소개</label>
                    <textarea name="" id="e_g_desc" rows="8" placeholder="그룹 소개를 입력하세요."></textarea>
                </div>
            </div>
            <button id="e_g_b_submit" class="red_btn">수정하기</button>
        </div>
    </div>
</main>
</body>
<script src="/assets/js/header.js"></script>
<script>
    function show_info() {
        document.querySelector('#group_info').style.display = "flex"
    }

    /** 그룹 정보 수정 */
    function show_info_edit(group_id) {
        document.querySelector("#group_edit").style.display = "flex"
        document.querySelector("#e_g_b_submit").setAttribute("onclick",`submit_info_edit(${group_id})`)
    }

    function submit_info_edit(group_id) {
        let name = document.getElementById("e_g_name").value //name
        let desc = document.getElementById("e_g_desc").value //desc
        let img = document.getElementById("e_g_pf").src //img

        fetch("/api/group/update", {
            method: "POST",
            body: JSON.stringify({
                "id": group_id,
                "name": name,
                "desc": desc,
                "pf_image": img
            })
        }).then((response) => {
            if (response.status === 200) {
                location.reload()
            } else {
                response.json().then((data) => {
                    alert(data.detail.message)
                })
            }
        })
    }
</script>
</html>