<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-title" content="다봄">
    <meta name="robots" content="index,nofollow">
    <meta property="og:title" content="다봄">
    <meta property="og:site_name" content="다봄 | 다이어트 하는거 다 지켜봄">
    <meta property="og:url" content="http://dabom.kro.kr">
    <meta property="og:description" content="음식정보를 조회 저장하고 자기에게 필요한 칼로리를 계산해보세요!">
    <meta property="og:image" content="../assets/images/logo.png">
    <meta name="keywords" content="dabom, 다봄, 다이어트, 다이어트 하는거 다 지켜봄, 다 지켜봄, 다이어트 어플, 식단 어플, 식단 조절, 식단 프로그램, 다이어트관리, 친구와 함께 공유하는 식단관리">
    <meta name="author" content="gyung won">
    <meta name="description" content="음식정보를 조회 저장하고 자기에게 필요한 칼로리를 계산해보세요!">
    <meta name="robots" content="all">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="다봄">
    <meta name="twitter:description" content="다이어트하는거 다 지켜봄">
    <meta name="twitter:image" content="../assets/images/logo.png">
    <meta name="twitter:url" content="http://dabom.kro.kr">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/images/apple-icon-114x114.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon-16x16.png">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="../assets/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./assets/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>다봄: 모임 (그룹) </title>
    <script type="module" src="/assets/js/group/detail.js"></script>
    <link href="/assets/css/reset.css" rel="stylesheet">
    <link href="/assets/css/layout.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="pc_header">
        <nav class="menu">
            <a href="javascript:">다봄섭취</a>
            <a href="javascript:">오늘일지</a>
            <a href="javascript:">다봄기록</a>
            <a href="/groups?page=1&type=public">다봄모임</a>
            <a href="javascript:">다봄달력</a>
        </nav>
        <h1 class="logo">
            <a href="javascript:"><img alt="로고" src="/assets/images/logo.svg"></a>
        </h1>
        <div class="login">
            <a href="javascript:">
                <img alt="로그인 아이콘" src="/assets/images/login-icon.svg">
            </a>
        </div>
    </div>
    <div class="show_mobile">
        <div class="mobile_header">
            <div class="m_header">
                <h1 class="logo">
                    <a href="javascript:">
                        <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                    </a>
                </h1>
                <a class="hamburger" href="javascript:">
                    <div class="line top"></div>
                    <div class="line bottom"></div>
                    <div class="line center"></div>
                </a>
            </div>
            <div class="slide_nav">
                <div class="slide_header">
                    <h1 class="logo">
                        <a href="javascript:">
                            <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                        </a>
                    </h1>
                </div>
                <div class="slide_content">
                    <a href="javascript:">다봄섭취</a>
                    <a href="javascript:">오늘일지</a>
                    <a href="javascript:">다봄기록</a>
                    <a href="javascript:">다봄모임</a>
                    <a href="javascript:">다봄달력</a>
                </div>
                <div class="slide_bottom">
                    <a href="javascript:"><i class="mypage-icon"></i>마이페이지</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <!--   .top_txt >.btn_box>.red_btn 'display: none' 가입되면 보이게 해주세요 -->
    <div class="group_list_wrap">
        <div class="banner_img">
            <img alt="배너이미지" src="/assets/images/default-background.png">
        </div>
        <div class="container">
            <div class="bottom_box">
                <div class="top_txt">
                    <h2>종로역 식단관리 모임</h2>
                    <p>맴버 : 125명</p>
                    <div class="btn_box">
                        <a class="gray_btn" href="javascript:">소개보기</a>
                        <a class="red_btn" href="javascript:" style="display: none">채팅하기</a>
                    </div>
                </div>
                <ul class="list_box">
                    <li>
                        <a class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </a>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="meal">아침</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span>유림</span>
                                </div>
                                <div class="right_box">
                                    <p class="date">05 / 03</p>
                                    <a class="comment" href="javascript:">
                                        <i class="comment_icon"><img alt="댓글아이콘" src="/assets/images/comment-icon.svg"></i>
                                        댓글 <em>86</em>개
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </a>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="meal">아침</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span>유림</span>
                                </div>
                                <div class="right_box">
                                    <p class="date">05 / 03</p>
                                    <a class="comment" href="javascript:">
                                        <i class="comment_icon"><img alt="댓글아이콘" src="/assets/images/comment-icon.svg"></i>
                                        댓글 <em>86</em>개
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="img_box" href="javascript:">
                            <img alt="식단 이미지" src="/assets/images/default-background.png">
                        </a>
                        <div class="info_box">
                            <h2>다봄모임 -10Kg 아자아자</h2>
                            <p class="meal">아침</p>
                            <p class="txt_info">오늘은 피그마로 디자인을 너무 열심히 한 탓에 허기가지고
                                머리가 안돌아가서 타코야끼랑 딸기바나를 먹었지 당떨어지면 달달한게 최고야</p>
                            <div class="bottom">
                                <div class="txt">
                                    <span>유림</span>
                                </div>
                                <div class="right_box">
                                    <p class="date">05 / 03</p>
                                    <a class="comment" href="javascript:">
                                        <i class="comment_icon"><img alt="댓글아이콘" src="/assets/images/comment-icon.svg"></i>
                                        댓글 <em>86</em>개
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="post_nav">
                    <a class="prev" href="javascript:">
                        <object aria-label="왼쪽 화살표" data="/assets/images/arrow-left.svg" type="image/svg+xml"></object>
                    </a>
                    <a class="num" href="javascript:">1</a>
                    <a class="num" href="javascript:">2</a>
                    <a class="num" href="javascript:">3</a>
                    <a class="num" href="javascript:">4</a>
                    <a class="num" href="javascript:">5</a>
                    <a class="next" href="javascript:">
                        <object aria-label="오른쪽 화살표" data="/assets/images/arrow-right.svg" type="image/svg+xml"></object>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script src="/assets/js/header.js"></script>
</html>