<!-- 공개 그룹 목록 코드 ID : public -->
<li>
    <div class="img_box">
        <img alt="게시글 이미지" src="/assets/images/default-background.png">
    </div>
    <div class="info_box">
        <p class="title">종로역 식단관리 모임</p>
        <p class="sub_txt">맴버: 125명</p>
        <a href="javascript:">가입하기</a>
    </div>
</li>

<!-- 참여중인 그룹 목록 코드 ID : joined -->
<li>
    <div class="img_box">
        <img alt="게시글 이미지" src="/assets/images/default-background.png">
    </div>
    <div class="info_box">
        <p class="title">종로역 식단관리 모임</p>
        <p class="sub_txt">맴버: 125명</p>
        <a href="javascript:">탈퇴하기</a>
    </div>
</li>

<!-- 소유중인 그룹 목록 코드 ID : owned -->
<li>
    <div class="img_box">
        <img alt="게시글 이미지" src="/assets/images/default-background.png">
    </div>
    <div class="info_box">
        <p class="title">종로역 식단관리 모임</p>
        <p class="sub_txt">맴버: 125명</p>
        <div class="btn_box">
            <a class="gray_btn" href="javascript:">수정</a>
            <a class="black_btn" href="javascript:">삭제</a>
        </div>
    </div>
</li>