<!-- 멤버목록 (소유자) CLASS : content_box -->

<li>
    <div class="img_box">
        <img alt="프로필이미지" src="../assets/images/default-profile.png">
    </div>
    <p class="name">다봄어터</p>
    <span><i id="crown_icon_owner" class="crown_icon"></i>그룹장</span>
</li>

<!-- 멤버목록 (관리자) CLASS : content_box -->

<li>
    <div class="img_box">
        <img alt="프로필이미지" src="../assets/images/default-profile.png">
    </div>
    <p class="name">다봄어터</p>
    <span><i id="crown_icon_sub" class="crown_icon"></i>관리자</span>
</li>

<!-- 멤버목록 (일반멤버) CLASS : content_box -->
<li>
    <div class="img_box">
        <img alt="프로필이미지" src="../assets/images/default-profile.png">
    </div>
    <p class="name">다봄어터</p>
</li>