<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-title" content="다봄">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="다봄">
    <meta property="og:site_name" content="다봄 | 다이어트 하는거 다 지켜봄">
    <meta property="og:url" content="http://dabom.kro.kr">
    <meta property="og:description" content="음식정보를 조회 저장하고 자기에게 필요한 칼로리를 계산해보세요!">
    <meta property="og:image" content="./assets/images/logo.png">
    <meta name="keywords" content="dabom, 다봄, 다이어트, 다이어트 하는거 다 지켜봄, 다 지켜봄, 다이어트 어플, 식단 어플, 식단 조절, 식단 프로그램, 다이어트관리, 친구와 함께 공유하는 식단관리">
    <meta name="author" content="gyung won">
    <meta name="description" content="음식정보를 조회 저장하고 자기에게 필요한 칼로리를 계산해보세요!">
    <meta name="robots" content="all">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="다봄">
    <meta name="twitter:description" content="다이어트하는거 다 지켜봄">
    <meta name="twitter:image" content="./assets/images/logo.png">
    <meta name="twitter:url" content="http://dabom.kro.kr">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/images/apple-icon-114x114.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png">
    <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="./assets/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./assets/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="msvalidate.01" content="F3FDB628E8E3A2905C743A9D5486EB39" />
    <title>다봄 : 다이어트 하는거 다 지켜봄!</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/temp index.css">
    <script type="module" src="/assets/js/user.js"></script>
    <script type="module" src="/assets/js/alert.js"></script>
    <script src="/assets/js/index.js"></script>
</head>
<script>
    /*function getNotificationPermission() {
    // 브라우저 지원 여부 체크
    if (!("Notification" in window)) {
        alert("데스크톱 알림을 지원하지 않는 브라우저입니다.");
    }
    // 데스크탑 알림 권한 요청
    Notification.requestPermission(function (result) {
        // 권한 거절
        if(result == 'denied') {
            //alert('알림을 차단하셨습니다.\n브라우저의 사이트 설정에서 변경하실 수 있습니다.');
            return false;
        }
    });
}

getNotificationPermission()*/
</script>
<body>
    <header>
        <div class="pc_header">
            <nav class="menu">
                <a href="/kcal_consume">다봄섭취</a>
                <a href="/diary_add">오늘일지</a>
                <a href="/record">다봄기록</a>
                <a href="/groups?page=1&type=public">다봄모임</a>
                <a href="/mypage">마이다봄</a>
            </nav>
            <h1 class="logo">
                <a href="/"><img alt="로고" src="/assets/images/logo.svg"></a>
            </h1>
            <div class="login">
                <a class="bell" href="javascript:">
                    <div id="bell_new_alert"></div>
                    <img src="/assets/images/bell-icon.svg" alt="종아이콘">
                </a>
                <a id="login" class="login_icon" href="/login" title="로그인">
                    <img alt="로그인 아이콘" src="/assets/images/login-icon.svg">
                </a>
                <a id="logout" style="display:none" class="logout_icon" href="javascript:" title="로그아웃">
                 <img alt="로그아웃 아이콘" src="/assets/images/login-out-icon.svg">
                </a>
            </div>
        </div>
        <div class="right_menu">
            <div class="bell_menu">
                <a class="bell_item" href="javascript:" target="_black">
                    <div id="new_alert" class="dabom_alert"></div>
                    <div class="profile_img">
                        <img alt="프로필이미지" src="../assets/images/default-profile.png">
                    </div>
                    <div class="txt_box">
                        <p>샘플 알림입니다.</p>
                        <p>로그인후 알림이 오면 이런식으로 표기 됩니다.</p>
                        <p>왼쪽의 주황 점은 읽지 않은 새로운 알림임을 뜻합니다.</p>
                    </div>
                </a>
                <!-- JS 동적 추가 구역 -->

            </div>
        </div>

        <div class="show_mobile">
            <div class="mobile_header">
                <div class="m_header">
                    <h1 class="logo">
                        <a href="/">
                            <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                        </a>
                    </h1>
                    <a class="hamburger" href="javascript:">
                        <div class="line top"></div>
                        <div class="line bottom"></div>
                        <div class="line center"></div>
                    </a>
                </div>
                <div class="slide_nav">
                    <div class="slide_header">
                        <h1 class="logo">
                            <a href="/">
                                <object aria-label="로고" data="/assets/images/logo.svg" type="image/svg+xml"></object>
                            </a>
                        </h1>
                    </div>
                    <div class="slide_content">
                        <a href="/kcal_consume">다봄섭취</a>
                        <a href="/diary_add">오늘일지</a>
                        <a href="/record">다봄기록</a>
                        <a href="/groups?page=1&type=public">다봄모임</a>
                        <a href="/mypage">마이다봄</a>
                    </div>
                    <div class="slide_bottom">
                        <a id="login" href="/login"><i class="login_icon"></i><span class="txt">로그인</span></a>
                        <a id="logout" style="display: none" href="javascript:"><i class="logout_icon"></i><span class="txt">로그아웃</span></a>
                        <a class="bell" href="javascript:">
                            <div id="bell_new_alert"></div>
                            <img src="/assets/images/bell-icon.svg" alt="종아이콘">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<main>
    <div class="loading fix">
        <span class="loader"></span>
    </div>
    <section class="hero_wrap">
        <div class="container">
            <div class="text_box">
                <span class="top_txt">Welcome 잘왔다봄</span>
                <div class="bottom_txt">
                    <em>다</em>이어트 하는 거<br>
                    다 지켜<em>봄</em>!
                </div>
            </div>
            <div class="img_box">
                <img alt="다봄캐릭터" src="/assets/images/mascot-04.png">
            </div>
        </div>
    </section>
    <section class="food_search_wrap">
        <div class="container">
            <div class="left_box">
                <h2 class="title">거기너 !<br>오늘 섭취한 칼로리가 궁금하지 않아?</h2>
                <p class="sub_txt">칼로리 확인하러 가보자고 !</p>
                <div class="search_box">
                    <span class="seaech_back"></span>
                    <input class="search_i" placeholder="오늘 섭취한 음식칼로리를  확인해보세요" type="text">
                </div>
            </div>
            <div class="category_box">
                <div class="category_item">
                    <picture>
                        <img alt="간편식사" src="/assets/images/food-icon-01.png">
                    </picture>
                    <span class="cate_name">간편식사</span>
                </div>
                <div class="category_item">
                    <picture>
                        <img alt="샐러드" src="/assets/images/food-icon-02.png">
                    </picture>
                    <span class="cate_name">샐러드</span>
                </div>
                <div class="category_item">
                    <picture>
                        <img alt="볶음요리" src="/assets/images/food-icon-03.png">
                    </picture>
                    <span class="cate_name">볶음요리</span>
                </div>
                <div class="category_item">
                    <picture>
                        <img alt="육류" src="/assets/images/food-icon-04.png">
                    </picture>
                    <span class="cate_name">육류</span>
                </div>
                <div class="category_item">
                    <picture>
                        <img alt="음료" src="/assets/images/food-icon-05.png">
                    </picture>
                    <span class="cate_name">음료</span>
                </div>
                <div class="category_item">
                    <picture>
                        <img alt="도시락" src="/assets/images/food-icon-06.png">
                    </picture>
                    <span class="cate_name">도시락</span>
                </div>
                <div class="category_item">
                    <picture>
                        <img alt="과일" src="/assets/images/food-icon-07.png">
                    </picture>
                    <span class="cate_name">과일</span>
                </div>
            </div>
        </div>
    </section>
    <section class="story_wrap">
        <div class="container">
            <div class="story_top">
                <h2 class="title">Cooking Story</h2>
                <div class="img_box">
                    <img src="/assets/images/zigzag-01.svg" alt="지그재그이미지">
                </div>
                <div class="swiper-button-prev">
                    <object aria-label="왼쪽 화살표" data="/assets/images/swiper-arrow-left.svg"
                            type="image/svg+xml"></object>
                </div>
                <div class="swiper-button-next">
                    <object aria-label="오른쪽 화살표" data="/assets/images/swiper-arrow-right.svg"
                            type="image/svg+xml"></object>
                </div>
            </div>
            <div class="story_slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <div class="img_box">
                                <img alt="식단이미지" src="https://i.ibb.co/VvDTL5M/food-img01.jpg">
                            </div>
                            <div class="buttom_box">
                                <div class="pattern">
                                    <object aria-label="지그재그 이미지" data="/assets/images/zigzag-05.svg"
                                            type="image/svg+xml"></object>
                                </div>
                                <div class="txt">more</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <div class="img_box">
                                <img alt="식단이미지" src="https://i.ibb.co/xLRYzZ0/food-img02.jpg">
                            </div>
                            <div class="buttom_box">
                                <div class="pattern">
                                    <object aria-label="지그재그 이미지" data="/assets/images/zigzag-05.svg"
                                            type="image/svg+xml"></object>
                                </div>
                                <div class="txt">more</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <div class="img_box">
                                <img alt="식단이미지" src="https://i.ibb.co/mzLGZvC/food-img03.jpg">
                            </div>
                            <div class="buttom_box">
                                <div class="pattern">
                                    <object aria-label="지그재그 이미지" data="/assets/images/zigzag-05.svg"
                                            type="image/svg+xml"></object>
                                </div>
                                <div class="txt">more</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <div class="img_box">
                                <img alt="식단이미지" src="https://i.ibb.co/2KqHVsM/food-img04.jpg">
                            </div>
                            <div class="buttom_box">
                                <div class="pattern">
                                    <object aria-label="지그재그 이미지" data="/assets/images/zigzag-05.svg"
                                            type="image/svg+xml"></object>
                                </div>
                                <div class="txt">more</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <div class="img_box">
                                <img alt="식단이미지" src="https://i.ibb.co/1d1x1Yf/food-img05.jpg">
                            </div>
                            <div class="buttom_box">
                                <div class="pattern">
                                    <object aria-label="지그재그 이미지" data="/assets/images/zigzag-05.svg"
                                            type="image/svg+xml"></object>
                                </div>
                                <div class="txt">more</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <div class="img_box">
                                <img alt="식단이미지" src="https://i.ibb.co/FnpPCWF/food-img06.jpg">
                            </div>
                            <div class="buttom_box">
                                <div class="pattern">
                                    <object aria-label="지그재그 이미지" data="/assets/images/zigzag-05.svg"
                                            type="image/svg+xml"></object>
                                </div>
                                <div class="txt">more</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="introduce_wrap">
        <div class="container">
            <div class="top_txt">
                <p class="small_txt">공유되는 나의 식단일기</p>
                <p class="title">나만의 식단일기 못참지!<br><em>다봄</em>에서 달려보자구!</p>
            </div>
            <div class="text_group">
                <span class="mobile_hidden">다같이 공유하자</span>
                <span>연인끼리</span>
                <span>친구랑 같이</span>
                <span class="mobile_hidden">혼자도 괜찮아 !</span>
            </div>
            <div class="char_group">
                <div class="img_box mobile_hidden">
                    <img alt="다봄캐릭터" src="/assets/images/mascot-small-01.png">
                </div>
                <div class="img_box mobile_hidden">
                    <img alt="다봄캐릭터" src="/assets/images/mascot-small-02.png">
                </div>
                <div class="img_box">
                    <img alt="다봄캐릭터" src="/assets/images/mascot-small-03.png">
                </div>
                <div class="img_box">
                    <img class="mobile_hidden" alt="다봄캐릭터" src="/assets/images/mascot-02.png">
                    <img class="show_mobile" alt="다봄캐릭터" src="/assets/images/mascot-03.png">
                </div>
                <div class="img_box mobile_hidden">
                    <img alt="다봄캐릭터" src="/assets/images/mascot-small-04.png">
                </div>
                <div class="img_box">
                    <img alt="다봄캐릭터" src="/assets/images/mascot-small-05.png">
                </div>
                <div class="img_box mobile_hidden">
                    <img alt="다봄캐릭터" src="/assets/images/mascot-small-06.png">
                </div>
            </div>
        </div>
    </section>
    <section class="food_diary_wrap">
        <div id="po" class="container">
            <h2 class="title">Today's Food Diary</h2>
            <a class="diary_box" href="javascript:">
                <div class="img_box">
                    <img src="https://i.ibb.co/KqKZ9Qc/food-diary-img.jpg" alt="식단이미지">
                </div>
                <p class="txt">
                    바쁜 아침은 건강하고 맛있는 샌드위치에 과일주스로 시작해 볼까?</dr>
                    15분만 투자하면 간단하게 만드는 나만의 황금 레시피로 건강도 챙기고 맛도 챙기자!</p>
            </a>
        </div>
    </section>
</main>
<footer class="footer_wrap">
    <div class="scroller_group">
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
        <span>다 지켜봄!</span>
    </div>
    <div class="footer_info">
        <div class="footer_menu">
            <p>다봄 추억 문의</p>
            <p>이용약관</p>
            <p>개인정보처리방침</p>
            <p>1:1 문의</p>
        </div>
        <hr class="zig">
        <hr class="zag">
        <div class="footer_policies">
            <p>다봄 주소: 서울특별시 다봄구 다봄로2 (우편번호: 04557)</p>
            <p>Copyright © 다봄, All Rights Reserved</p>
        </div>
    </div>
</footer>
<script>
    (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();
  
    ChannelIO('boot', {
      "pluginKey": "bda6c3a5-d0b9-4359-93fe-46b9af57db3a"
    });
    document.querySelector(".loading").style.display = 'none';

</script>
</body>
<script src="/assets/js/header.js"></script>
<script type="module" src="/assets/js/swiper.js"></script>
<script src="/assets/js/swiper-bundle.min.js"></script>
</html>
