<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="다봄">
    <meta property="og:site_name" content="다봄 | 다이어트 하는거 다 지켜봄">
    <meta property="og:url" content="http://dabom.kro.kr">
    <meta property="og:description" content="다이어트하는거 다 지켜봄">
    <meta property="og:image" content="./assets/images/logo.png"> 
    <title>사이트 오픈 준비중입니다.</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
    <link rel="stylesheet" href="/assets/css/temp index.css">
</head>
<body>

<main>
    <div class="loading">
        <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F236288455424EE5D2D" style="margin:auto"/>
    </div>
    <div class="login_wrap">
        <div class="container">
            <h1 class="logo">
                <a href="javascript:"><img src="/assets/images/logo.svg" alt="로고"></a> <!-- 서버에서는 .. 안너어도 되요. -->
            </h1>
            <form class="preparing" action="javascript:void(0);">
                <Strong>사이트 준비중입니다.</Strong>
                <div class="sub">
                    <span>방문해 주셔서 감사힙니다.</span>
                    <span>현재는 사이트 오픈 준비중입니다.</span>
                    <div>
                        <span>빠른 시일 이내에 오픈하도록 하겠습니다. 감사힙니다.</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
<script src="/assets/js/user.js"></script>
</html>