<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-title" content="다봄">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="다봄">
    <meta property="og:site_name" content="다봄 | 다이어트 하는거 다 지켜봄">
    <meta property="og:url" content="http://dabom.kro.kr">
    <meta property="og:description" content="음식정보를 조회 저장하고 자기에게 필요한 칼로리를 계산해보세요!">
    <meta property="og:image" content="./assets/images/logo.png">
    <meta name="keywords" content="dabom, 다봄, 다이어트, 다이어트 하는거 다 지켜봄, 다 지켜봄, 다이어트 어플, 식단 어플, 식단 조절, 식단 프로그램, 다이어트관리, 친구와 함께 공유하는 식단관리">
    <meta name="author" content="gyung won">
    <meta name="description" content="음식정보를 조회 저장하고 자기에게 필요한 칼로리를 계산해보세요!">
    <meta name="robots" content="all">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="다봄">
    <meta name="twitter:description" content="다이어트하는거 다 지켜봄">
    <meta name="twitter:image" content="./assets/images/logo.png">
    <meta name="twitter:url" content="http://dabom.kro.kr">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/images/apple-icon-114x114.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png">
    <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="./assets/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./assets/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>다봄 : 게시글</title>
    <title>마이페이지</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
</head>
</head>
<body>
<!-- .info_box 클릭하면 체크박스 같이 클릭되게 해주세요 -->
<!-- .post_nav 연결해주세요  -->
<div class="mypage_wrap">
    <div class="container">
        <nav class="left_box">
            <h1 class="logo">
                <a href="javascript:"><img src="/assets/images/logo.svg" alt="로고"></a>
            </h1>
            <ul class="nav_list">
                <li>
                    <a href="javascript:">마이다봄</a>
                </li>
                <li class="on">
                    <a href="javascript:">다봄게시물</a>
                </li>
                <li>
                    <a href="javascript:">다봄친구</a>
                </li>
                <li>
                    <a href="javascript:">회원탈퇴</a>
                </li>
            </ul>
        </nav>
        <div class="right_box">
            <div class="post_group">
                <ul>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="save1">
                            <label for="save1">체크박스</label>
                        </div>
                        <span class="kcal">1280Kcal</span>
                        <a href="javascript:">
                            <img src="/assets/images/default-background.png" alt="게시글 이미지">
                        </a>
                        <div class="info_box">
                            <p class="title">2023-04-26</p>
                            <p class="sub_txt">오늘은 소금빵을 사먹었다 소금빵은 너무 맛있어 냠냠냠</p>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="save2">
                            <label for="save2">체크박스</label>
                        </div>
                        <span class="kcal">1280Kcal</span>
                        <a href="javascript:">
                            <img src="/assets/images/default-background.png" alt="게시글 이미지">
                        </a>
                        <div class="info_box">
                            <p class="title">2023-04-26</p>
                            <p class="sub_txt">오늘은 소금빵을 사먹었다 소금빵은 너무 맛있어 냠냠냠</p>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="save3">
                            <label for="save3">체크박스</label>
                        </div>
                        <span class="kcal">1280Kcal</span>
                        <a href="javascript:">
                            <img src="/assets/images/default-background.png" alt="게시글 이미지">
                        </a>
                        <div class="info_box">
                            <p class="title">2023-04-26</p>
                            <p class="sub_txt">오늘은 소금빵을 사먹었다 소금빵은 너무 맛있어 냠냠냠</p>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="save4">
                            <label for="save4">체크박스</label>
                        </div>
                        <span class="kcal">1280Kcal</span>
                        <a href="javascript:">
                            <img src="/assets/images/default-background.png" alt="게시글 이미지">
                        </a>
                        <div class="info_box">
                            <p class="title">2023-04-26</p>
                            <p class="sub_txt">오늘은 소금빵을 사먹었다 소금빵은 너무 맛있어 냠냠냠</p>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="save5">
                            <label for="save5">체크박스</label>
                        </div>
                        <span class="kcal">1280Kcal</span>
                        <a href="javascript:">
                            <img src="/assets/images/default-background.png" alt="게시글 이미지">
                        </a>
                        <div class="info_box">
                            <p class="title">2023-04-26</p>
                            <p class="sub_txt">오늘은 소금빵을 사먹었다 소금빵은 너무 맛있어 냠냠냠</p>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" id="save6">
                            <label for="save6">체크박스</label>
                        </div>
                        <span class="kcal">1280Kcal</span>
                        <a href="javascript:">
                            <img src="/assets/images/default-background.png" alt="게시글 이미지">
                        </a>
                        <div class="info_box">
                            <p class="title">2023-04-26</p>
                            <p class="sub_txt">오늘은 소금빵을 사먹었다 소금빵은 너무 맛있어 냠냠냠</p>
                        </div>
                    </li>
                </ul>
                <div class="post_nav">
                    <a class="prev" href="javascript:"> <object data="/assets/images/arrow-left.svg" type="image/svg+xml" aria-label="왼쪽 화살표"></object></a>
                    <a class="num" href="javascript:">1</a>
                    <a class="num" href="javascript:">2</a>
                    <a class="num" href="javascript:">3</a>
                    <a class="num" href="javascript:">4</a>
                    <a class="num" href="javascript:">5</a>
                    <a class="next" href="javascript:">
                        <object data="/assets/images/arrow-right.svg" type="image/svg+xml" aria-label="오른쪽 화살표"></object>
                    </a>
                </div>
                <div class="btn_box">
                    <a class="red_line_btn" href="javascript:">공유하기</a>
                    <a class="red_btn" href="javascript:">삭제하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right_menu">
    <a class="bell" href="javascript:">
        <object data="/assets/images/bell-icon.svg" type="image/svg+xml" aria-label="종아이콘"></object>
    </a>
</div>
</body>
</html>