<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-title" content="다봄">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="다봄">
    <meta property="og:site_name" content="다봄 | 다이어트 하는거 다 지켜봄">
    <meta property="og:url" content="http://dabom.kro.kr">
    <meta property="og:description" content="음식정보를 조회 저장하고 자기에게 필요한 칼로리를 계산해보세요!">
    <meta property="og:image" content="./assets/images/logo.png">
    <meta name="keywords" content="dabom, 다봄, 다이어트, 다이어트 하는거 다 지켜봄, 다 지켜봄, 다이어트 어플, 식단 어플, 식단 조절, 식단 프로그램, 다이어트관리, 친구와 함께 공유하는 식단관리">
    <meta name="author" content="gyung won">
    <meta name="description" content="음식정보를 조회 저장하고 자기에게 필요한 칼로리를 계산해보세요!">
    <meta name="robots" content="all">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="다봄">
    <meta name="twitter:description" content="다이어트하는거 다 지켜봄">
    <meta name="twitter:image" content="./assets/images/logo.png">
    <meta name="twitter:url" content="http://dabom.kro.kr">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/images/apple-icon-114x114.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png">
    <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="./assets/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./assets/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>다봄 : 회원가입</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
    <script> var h_f_link = ""; </script>
    <script type="module" src="/assets/js/fileupload.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<main>
    <div class="join_wrap">
        <div class="loading" style ="display:flex; position: fixed; width: 100%; height: 100%; background-color: black; top: 0px; left: 0px; opacity: 0.8; display: none;">
            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F236288455424EE5D2D" style="margin:auto"/>
        </div>
        <div class="container">
            <h1 class="logo">
                <a href="javascript:"><img src="/assets/images/logo.svg" alt="로고"></a>
            </h1>
            <div class="filebox">
                <form action='/chat/uploadfile' method="POST" entype="multipart/form-data">
                    <input type="file" name="file" id="input">
                    <label class="profile_img_box" for="input">
                        <span class="profile_img">
                             <img src="/assets/images/default-profile.png" alt="프로필이미지">
                        </span>
                        <i class="camera_icon"></i>
                    </label>
                </form>
            </div>
            <form>
                <div class="form_list">
                    <div class="from_group">
                        <input type="text" id="login_email"  placeholder="이메일">
                        <input type="password" id="login_pw" placeholder="비밀번호">
                        <input type="password" id="login_pwre" placeholder="비밀번호 확인">
                    </div>
                    <div class="from_group">
                        <h3>이름</h3>
                        <input type="text" id="join_name" placeholder="이름을(를) 입력하세요">
                    </div>
                    <div class="from_group">
                        <h3>성별</h3>
                        <div class="radio-list" id="join_gender" value="male">
                            <div class="radio-box" id="male_radio">
                                <input type="radio" name="colors" id="male" checked/>
                                <label for="male">남자</label>
                            </div>
                            <div class="radio-box" id="female_radio">
                                <input type="radio" name="colors" id="female"/>
                                <label for="female">여자</label>
                            </div>
                            <div class="radio-box" id="private_radio">
                                <input type="radio" name="colors" id="private" />
                                <label for="private">비공개</label>
                            </div>
                        </div>
                    </div>
                    <div class="from_group">
                        <h3>키(cm)<em>정보를 입력하지 않으면 제공되는 정보가 제한될수 있습니다.</em></h3>
                        <input type="text"  id="join_tail" placeholder="키cm을(를) 입력하세요">
                    </div>
                    <div class="from_group">
                        <h3>몸무게<em>정보를 입력하지 않으면 제공되는 정보가 제한될수 있습니다.</em></h3>
                        <input type="text" id="join_weight" placeholder="몸무게kg를(을) 입력하세요">
                    </div>
                    <div class="from_group">
                        <h3>생년월일</h3>
                        <div class="birth_box">
                            <input type="number" placeholder="년" id="join_bir_mon">
                            <select id="join_bir_col" required>
                                <option value="" disabled selected>월</option>
                                <option value="1">1월</option>
                                <option value="2">2월</option>
                                <option value="3">3월</option>
                                <option value="4">4월</option>
                                <option value="5">5월</option>
                                <option value="6">6월</option>
                                <option value="7">7월</option>
                                <option value="8">8월</option>
                                <option value="9">9월</option>
                                <option value="10">10월</option>
                                <option value="11">11월</option>
                                <option value="12">12월</option>
                            </select>
                            <input type="number" placeholder="일" id="join_bir_day">
                        </div>
                    </div>
                </div>
                <p class="caution">* 해당 사이트는 참고용입니다. 정확한 필요 섭취량은 의사와 상담하세요.</p>
                <button type="submit" id="join_btn">가입하기</button>
            </form>
        </div>
    </div>
</main>
</body>
<script src="/assets/js/user.js"></script>
</html>